<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/product/(\d+)\.htm</LookFor>
        <SendTo>~/product/detail.aspx?product_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/product/(\d+)-(\d*)-(\d*)-(\w*)-(\d*)\.htm</LookFor>
        <SendTo>~/product/category.aspx?cate_id=$1&amp;brand_id=$2&amp;isgallerylist=$3&amp;orderby=$4&amp;page=$5</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/product/cate_(\d+)\.htm</LookFor>
        <SendTo>~/product/index.aspx?cate_id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/product/search.htm</LookFor>
        <SendTo>~/product/search.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/TradeIndex.htm</LookFor>
        <SendTo>~/TradeIndex.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/suppliers.htm</LookFor>
        <SendTo>~/suppliers.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/jewelrys.htm</LookFor>
        <SendTo>~/jewelrys.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/yunjin.htm</LookFor>
        <SendTo>~/yunjin.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/product/new_product.htm</LookFor>
        <SendTo>~/product/new_product.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/purchase/brand_joined.htm</LookFor>
        <SendTo>~/purchase/brand_joined.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/purchase/purchase_index.htm</LookFor>
        <SendTo>~/purchase/purchase_index.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/cart/shop_complete.htm</LookFor>
        <SendTo>~/cart/shop_complete.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/shop/search.htm</LookFor>
        <SendTo>~/shop/search.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/banner01.htm</LookFor>
        <SendTo>~/banner01.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/liaojieyinai.htm</LookFor>
        <SendTo>~/liaojieyinai.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/xinshouzhidao.htm</LookFor>
        <SendTo>~/xinshouzhidao.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/o2o.htm</LookFor>
        <SendTo>~/o2o.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/XC/xchits.htm</LookFor>
        <SendTo>~/XC/xchits.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/login.htm</LookFor>
        <SendTo>~/login.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/register.htm</LookFor>
        <SendTo>~/register.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/about/index.aspx</LookFor>
        <SendTo>~/about/index.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/help/index.aspx</LookFor>
        <SendTo>~/help/index.aspx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/index.aspx</LookFor>
        <SendTo>~/index.aspx</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <appSettings>
    <add key="Encrypt" value="Glaer.Trade.Util.Encrypt" />
    <add key="SQLHelper" value="Glaer.Trade.Util.SQLHelper" />
    <add key="Tools" value="Glaer.Trade.Util.Tools" />
    <add key="Mail" value="Glaer.Trade.Util.Mail" />
    <add key="TraceError" value="Glaer.Trade.Util.TraceError" />
    <add key="DALCategory" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLCategory" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALBrand" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLBrand" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALProductType" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLProductType" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALProductReview" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLProductReview" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALProductReviewConfig" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLProductReviewConfig" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALShoppingAsk" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLShoppingAsk" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALProductTypeExtend" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLProductTypeExtend" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALProductPrice" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLProductPrice" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALStockoutBooking" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLStockoutBooking" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="DALProductNotify" value="Glaer.Trade.B2C.DAL.Product" />
    <add key="BLLProductNotify" value="Glaer.Trade.B2C.BLL.Product" />
    <add key="BLLCMS" value="Glaer.Trade.B2C.BLL.CMS" />
    <add key="DALCMS" value="Glaer.Trade.B2C.DAL.CMS" />
    <add key="BLLAD" value="Glaer.Trade.B2C.BLL.AD" />
    <add key="DALAD" value="Glaer.Trade.B2C.DAL.AD" />
    <add key="BLLADPosition" value="Glaer.Trade.B2C.BLL.AD" />
    <add key="DALADPosition" value="Glaer.Trade.B2C.DAL.AD" />
    <add key="BLLAD_Position_Channel" value="Glaer.Trade.B2C.BLL.AD" />
    <add key="DALAD_Position_Channel" value="Glaer.Trade.B2C.DAL.AD" />
    <add key="BLLRBACUser" value="Glaer.Trade.B2C.BLL.Sys" />
    <add key="DALRBACUser" value="Glaer.Trade.B2C.DAL.Sys" />
    <add key="BLLMEM" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMEM" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLMemberLog" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMemberLog" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLMemberConsumption" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMemberConsumption" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLMemberFavorites" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMemberFavorites" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLFeedBack" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALFeedBack" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLMemberAddress" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMemberAddress" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLSupplierCommissionCategory" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierCommissionCategory" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLSupplier" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplier" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLSupplierMessage" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierMessage" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLORD" value="Glaer.Trade.B2C.BLL.ORD" />
    <add key="DALORD" value="Glaer.Trade.B2C.DAL.ORD" />
    <add key="BLLOrdersGoodsTmp" value="Glaer.Trade.B2C.BLL.ORD" />
    <add key="DALOrdersGoodsTmp" value="Glaer.Trade.B2C.DAL.ORD" />
    <add key="BLLDeliveryTime" value="Glaer.Trade.B2C.BLL.ORD" />
    <add key="DALDeliveryTime" value="Glaer.Trade.B2C.DAL.ORD" />
    <add key="BLLOrdersInvoice" value="Glaer.Trade.B2C.BLL.ORD" />
    <add key="DALOrdersInvoice" value="Glaer.Trade.B2C.DAL.ORD" />
    <add key="BLLOrdersBackApply" value="Glaer.Trade.B2C.BLL.ORD" />
    <add key="DALOrdersBackApply" value="Glaer.Trade.B2C.DAL.ORD" />
    <add key="BLLSAL" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALSAL" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLPromotionFavorFee" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALPromotionFavorFee" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLPromotionFavorPolicy" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALPromotionFavorPolicy" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLPromotionFavorGift" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALPromotionFavorGift" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLPromotion" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALPromotion" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLPromotionLimit" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALPromotionLimit" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLPromotionFavorCoupon" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALPromotionFavorCoupon" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLU_EmailNotifyRequest" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALU_EmailNotifyRequest" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLU_LinksApplication" value="Glaer.Trade.B2C.BLL.SAL" />
    <add key="DALU_LinksApplication" value="Glaer.Trade.B2C.DAL.SAL" />
    <add key="BLLMemberAccountLog" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALMemberAccountLog" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLSupplierMargin" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierMargin" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLArticle_Label" value="Glaer.Trade.B2C.BLL.CMS" />
    <add key="DALArticle_Label" value="Glaer.Trade.B2C.DAL.CMS" />
    <add key="BLLProduct_Label" value="Glaer.Trade.B2C.BLL.CMS" />
    <add key="DALProduct_Label" value="Glaer.Trade.B2C.DAL.CMS" />
    <add key="BLLSupplierBank" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierBank" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLProduct_Article_Label" value="Glaer.Trade.B2C.BLL.CMS" />
    <add key="DALProduct_Article_Label" value="Glaer.Trade.B2C.DAL.CMS" />
    <add key="BLLRBAC" value="Glaer.Trade.B2C.RBAC" />
    <add key="BLLSysState" value="Glaer.Trade.B2C.BLL.Sys" />
    <add key="DALSysState" value="Glaer.Trade.B2C.DAL.Sys" />
    <add key="BLLSysCity" value="Glaer.Trade.B2C.BLL.Sys" />
    <add key="DALSysCity" value="Glaer.Trade.B2C.DAL.Sys" />
    <add key="BLLSysCounty" value="Glaer.Trade.B2C.BLL.Sys" />
    <add key="DALSysCounty" value="Glaer.Trade.B2C.DAL.Sys" />
    <add key="BLLSupplierFavorites" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierFavorites" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLSupplierSubAccount" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierSubAccount" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLSupplierSubAccountLog" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierSubAccountLog" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLContract" value="Glaer.Trade.B2C.BLL.ORD" />
    <add key="DALContract" value="Glaer.Trade.B2C.DAL.ORD" />
    <add key="BLLSupplierPriceReport" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSupplierPriceReport" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="BLLLogisticsLine" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALLogisticsLine" value="Glaer.Trade.B2C.DAL.MEM" />
    <!--快速发布需求-->
    <add key="BLLBidUpRequireQuick" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALBidUpRequireQuick" value="Glaer.Trade.B2C.DAL.MEM" />
    <add key="HttpHelper" value="Glaer.Trade.Util.Http" />
    <add key="JsonHelper" value="Glaer.Trade.Util.Http" />
    <add key="99BILL_priKeyPath" value="D:\\validate\\tester-rsa.pfx" />
    <add key="99BILL_pubKeyPath" value="D:\\validate\\99bill.cert.rsa.20140728.cer" />
    <add key="priKeyPath" value="D:\\validate\\MerPrK_808080580107180_20111202155947.key" />
    <add key="pubKeyPath" value="D:\\validate\\PgPubk.key" />
    <!--付款信息表(Payment_Information)-->
    <add key="BLLPaymentInformation" value="Glaer.Trade.B2C.BLL.ORD" />
    <add key="DALPaymentInformation" value="Glaer.Trade.B2C.DAL.ORD" />
    <!--新加 中信支付-->
    <add key="BLLSigning" value="Glaer.Trade.B2C.BLL.MEM" />
    <add key="DALSigning" value="Glaer.Trade.B2C.DAL.MEM" />
    <!--新加 中信银行 开始 -->
    <add key="zhongxin_postserver" value="http://192.168.0.112:6789/" />
    <add key="zhongxin_mngnode" value="211101" />
    <!--登录名 varchar(30)-->
    <add key="zhongxin_username" value="lierzl" />
    <!--主体账号varchar(19)-->
    <add key="zhongxin_mainaccno" value="8110701013900006690" />
    <!-- 交易佣金账户 -->
    <add key="zhongxin_commissionaccno" value="3110710006721529734" />
    <add key="zhongxin_commissionaccnm" value="交易佣金账户" />
    <!-- 交易担保账户 -->
    <add key="zhongxin_dealguaranteeaccno" value="3110710006721552449" />
    <add key="zhongxin_dealguaranteeaccnm" value="交易保证金测试账号" />
    <!-- 投标保证金账户 -->
    <add key="zhongxin_bidguaranteeaccno" value="3110710006721529711" />
    <add key="zhongxin_bidguaranteeaccnm" value="投标保证金账户" />
    <!-- 商家保证金账户 -->
    <add key="zhongxin_merchantguaranteeaccno" value="3110710006721529728" />
    <add key="zhongxin_merchantguaranteeaccnm" value="商家保证金账户" />
    <!-- 报文记录日志目录 -->
    <add key="zhongxin_log" value="G:\工作项目\程序\易耐网\Source\yinai\WWW\log" />
    <!-- 中信银行 结束 -->
    <!-- 中行支付 -->
    <add key="certFileName" value="D:\demo.pfx" />
    <add key="merchantNo" value="104430149000002" />
    <add key="certPassword" value="1111111a" />
    <add key="BBSServices.GlaerIntegration" value="" />
    <!-- PDF路径 -->
    <add key="PDFPath" value="E:\工作项目\程序\易耐网\Source\yinai\Download\" />
    <add key="PDF_CertPath" value="D:\\validate\\420177460@qq.com_sha256_cn.pfx" />
    <add key="PDF_CertPassword" value="yinaich2015620" />
    <add key="GoldAPI" value="http://apis.haoservice.com/lifeservice/gold/shgold" />
    <add key="tradesignkey" value="ba0b364002358af20ca64fcb73583532" />
    <!-- 信贷网关 func25.vfinance.cn/loan-lgs/service.do -->
    <!--<add key="loan-lgs" value="http://test.zhiliankuaifu.com/loan-lgs/service.do" />-->
    <add key="loan-lgs" value="http://func25.vfinance.cn/loan-lgs/service.do" />
    <!-- 会员网关  func25.vfinance.cn/mgs/service.do -->
    <!--<add key="mgs" value="http://test.zhiliankuaifu.com/mgs/service.do" />-->
    <add key="mgs" value="http://func25.vfinance.cn/mgs/service.do" />
    <!-- 收单网关  func25.vfinance.cn/mag/gateway/receiveOrder.do  -->
    <!--<add key="mag" value="http://test.zhiliankuaifu.com/mag/gateway/receiveOrder.do" />-->
    <add key="mag" value="http://func25.vfinance.cn/mag/gateway/receiveOrder.do" />
    <!-- ERP接口地址 -->
    <add key="erp_url" value="https://yunjins.net:7474" />
    <!-- 小能接口地址 -->
    <add key="ntalker" value="http://bkpi.ntalker.com/index.php" />
    <!-- 易宝支付 -->
    <add key="merhantId" value="10001126856" />
    <add key="keyValue" value="69cl522AV6q613Ii4W6u8K6XuW8vM1N6bFgyv769220IuYe9u37N4y7rI4Pl" />
    <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node" />
    <add key="tokentime" value="30" />
    <add key="webdomain" value=".yinai.com" />
    <add key="signkey" value="ZQRnrEBsOnea3wmhFibs5kSADB75YlpXnb391wQz9ZzIqTOv5Ec9UCwoVlXjftAVDPl8fCnWdheghyCqkYC8PLSLpByJxVV8CMgxoDihC4ybvUlU4moowAngnb391wQz" />
    <add key="ERP_Key" value="MIICXQIBAAKBgQDAPb4t1JUiiIGVpa+1O1w1Z7CBKeYXTlD+KcipIdIURFcQNJbYHzm7BSOA1SdGBDTIMDwhg39ErpTC4ACFt3+8QzQkrAiL2fy8vlly0+6W/SIFHmLQDlk+OTmU7qOnM5eMJmuu4K0e4cCLRHUjWggBwted2YvciXiijQBeN5lZXwIDAQABAoGBAJHNAjUuOuHTGD0QSaAxYjDa8II17d2VN1ZdCGRGU1etsT6INDO8EwPl1NR8VWoD/Kgr9R8R5W+I3SijzaGc15H3/7BFw7Ll7hK2GnlS1XOHH3zgFn6nMOWwQj0QKm28AOAanG+6pU7KL1EedKcDyfzrNVQv+8ASZeJcLGm++A7JAkEA3ub38+2f4yizoiuWrYq1CvvjMdhEUbgWW/mQMFmyvaA+EcKyMkWQSw8f3dYr3pvQeNcBFGdEd4Fo8slmJOBH8wJBANzJRuq2iDlDZNpfJvE6oZwE2cjiFpu8fp3YEl6BLYpShzIsl9dmwvcuCrlfmAxetdf0wmG7AXJDQuyfQSZnT+UCQAzqCtGaIdpSYF3z8o3pbGXPhDE+G280oC8B/YWfnMh5wT7cLeDVwO9oV+tNXktOcbyekFRzSzc1SzRN0NowGFsCQQCnIU4nmqkf/942V9UYwnNXsWxS3qKSnWuTfN7a3xpkHPjuiEcg7U8k4ZuIm85zfrZUlZkXdgIwRq5AhIVC1u3pAkA32nnq1vj9tbO8/6/gV3tFUDDXCGneGZ/QsPWYPrjCqlyzBzrJYucy8/mWIoP4tclGn2PljU4do9fzXg9f3WPQ" />
    <add key="ERP_Pub_Key" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDAPb4t1JUiiIGVpa+1O1w1Z7CBKeYXTlD+KcipIdIURFcQNJbYHzm7BSOA1SdGBDTIMDwhg39ErpTC4ACFt3+8QzQkrAiL2fy8vlly0+6W/SIFHmLQDlk+OTmU7qOnM5eMJmuu4K0e4cCLRHUjWggBwted2YvciXiijQBeN5lZXwIDAQAB" />
  </appSettings>
  <connectionStrings>
    <add name="connstr_readonly" connectionString="server=DESKTOP-VC630TG;uid=sa;pwd=123456;database=YiNai;pooling=true;min pool size=1;max pool size=512;connection reset=true" />
    <add name="connstr_writeable" connectionString="server=DESKTOP-VC630TG;uid=sa;pwd=123456;database=YiNai;pooling=true;min pool size=1;max pool size=512;connection reset=true" />
    <add name="connstr" connectionString="server=DESKTOP-VC630TG;uid=sa;pwd=123456;database=YiNai;pooling=true;min pool size=1;max pool size=512;connection reset=true" />
    <!--<add name="connstr_readonly" connectionString="server=192.168.0.64;uid=sa;pwd=123456;database=YiNai;pooling=true;min pool size=1;max pool size=512;connection reset=true" />
    <add name="connstr_writeable" connectionString="server=192.168.0.64;uid=sa;pwd=123456;database=YiNai;pooling=true;min pool size=1;max pool size=512;connection reset=true" />
    <add name="connstr" connectionString="server=192.168.0.64;uid=sa;pwd=123456;database=YiNai;pooling=true;min pool size=1;max pool size=512;connection reset=true" />-->
  </connectionStrings>
  <system.web>
    <!--   <httpCookies domain="yinai.com"/>-->
    <!-- 设置Session模式为SQLServer -->
    <!--    <sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1" sqlConnectionString="server=DESKTOP-VC630TG;uid=sa;pwd=123456;database=YiNaiSession" allowCustomSqlDatabase="True" cookieless="false" timeout="60" />-->
    <!--<sessionState mode="SQLServer" sqlConnectionString="server=DESKTOP-VC630TG;uid=sa;pwd=123456;database=YiNaiSession" allowCustomSqlDatabase="True" cookieless="false" timeout="60"/>-->
    <!-- 
             设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <!--newAdd-->
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
      <!--newAdd-->
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    
        -->
    <!--<customErrors mode="On" defaultRedirect="/error.aspx">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>-->
    <customErrors mode="Off" defaultRedirect="/error.aspx">
      <error statusCode="404" redirect="/404.aspx" />
    </customErrors>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <!--newAdd-->
      <add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <add verb="*" path="*.htm" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <add verb="*" path="*/" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <!--newAdd-->
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
        <identity impersonate="true" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="userpage-64" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="userpage" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
    <directoryBrowse enabled="true" />
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <!-- 设定网站服务器以指定预设兼容性模式 Lionden -->
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=EmulateIE8" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://service2.winic.org:8003/Service.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="MsgAPI.Service1Soap" name="Service1Soap" />
    </client>
  </system.serviceModel>
</configuration>